*{
    padding: 0;
    margin: 0;
    font-family: "맑은 고딕","돋움",sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
body{
    color: #333;
    background-color: #fff;
    
}
nav ul{
    list-style: none;

}
a:visited,a:link{
    text-decoration: none;
    color: inherit;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header{
    height: 100px;
    position: relative;
    background-color: #eee;
}
#logo{
    width: 200px;
    height: 40px;
    margin-top: 30px;
}
header nav{
    position: absolute;
    z-index: 3;
    top: 60px;
    right: 10px;
}
#gnb>li{
    float: left;
}
#gnb>li>a{
    text-align: center;
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color: orange;
    transition-duration: 0.4s;
}
#gnb>li:hover>a{
    background-color: bisque;
}
.submenu{
    display: none;
}
.submenu>li>a{
    text-align: center;
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: palegoldenrod;
    transition-duration: 0.4s;
}

.submenu>li:hover>a{
    background-color: burlywood;
}


#mBack{
    display: none;
    top: 100px;
    position: absolute;
    z-index: 2;
    background-color: palegoldenrod;
    width: 1200px;
    height: 160px;
}
#slide{
    height: 300px;
    position: relative;
    overflow: hidden;
}
#slide>a{
    position: absolute;
    top: 100%;
}
#slide>a:first-child{
    top: 0;
}





section{
    height: 200px
}
section>div{
    float: left;
}
section h2{
    font-size: 16px;
    padding: 5px 0;
}
#notice{
    width: 30%;
}
#notice table{
    width: 100%;
}
#notice td{
    padding: 5px;
    border-top: dotted 1px #aaa;
}
#notice td:first-child{
    text-align: center;
}
#notice td:last-child:hover{
    background-color: #eee;
}


#gallery{
    width: 40%;
}
#gallery img {
    width: 33.33%;
    padding: 5px;
    float: left;
    transition-duration: 0.4s;
}
#gallery img:hover{
    transform: scale(1.1);
}




#quick{
    width: 30%;
}
#quick>a{
    padding-top: 30px;
    width: 33.33%;
    float: left;
    text-align: center;
    transition-duration: 0.4s;
}
#quick>a:hover{
    transform: scale(1.1);
}
#quick img {
    width: 60%;
}


footer{
    height: 100px;
    background-color: antiquewhite;
}
footer>.wrap>div{
    float: left;
}
#copy{
    width: 70%;
    text-align: center;
    padding-top: 18px;
}
#sns>a:hover{
    text-decoration: underline;
}
#fr{
    width: 30%;
    text-align: center;
    padding-top: 33px;
}
#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.493);
}
#popup{
    position: absolute;
    background-color: #eee;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 280px;
}
#popup h2{
    font-size: 14px;
    padding: 5px;
}
#popup p{
    padding: 5px;
}
.close{
    float: right;
    padding: 10px;
    margin-right: 10px;
}
